.container-link {
    display: flex;
    align-content: flex-start;
}

.one {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-right: 10px;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.box {
    padding: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-description {
    margin: 0.4rem 0 2.5rem;
}

.card-title {
    margin: 0.75rem 0 0;
    font-weight: 700;
}

.card-title:link {
    color: black;
}

.card-title:visited {
    color: black;
}

.card-title:hover {
    color: blue;
    font-style: underline;
}

.card-title:active {
    color: red;
}

@font-face {
    font-family: 'Gruppo';
    src: url('Gruppo-Regular.ttf');
}

* {
    font-family: 'Gruppo';
}

#enlarger {
    font-size: 14px;
}

#underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.right {
    float: right;
}

.left {
    text-align: left;
}